# Database Configuration
DB_NAME=hasuradb

# Hasura Configuration
HASURA_GRAPHQL_ADMIN_SECRET=your-secret-key-here
HASURA_GRAPHQL_JWT_SECRET={"type":"HS256", "key": "your-jwt-secret-key-here"}

# Webhook Configuration
MAIN_WEBHOOK_DOMAIN=http://localhost:3000
MAIN_WEBHOOK_SIGNATURE=your-webhook-signature-here
